<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
{% include head.html %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
  MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "all" } }
});
</script>
<!-- <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
<script src="{{ '/assets/js/MathJax-2.7.2/MathJax.js?config=TeX-MML-AM_CHTML' | relative_url }}" type="text/javascript"></script>
</head>

	<body>

	{% include header.html %}

		<main class="page-content" aria-label="Content">
			<div class="wrapper">
			<article class="post">
				<header class="post-header">
					<h1 class="post-title">{{ page.title | escape }}</h1>
				</header>

				<div class="post-content">
				{{ content }}
				</div>
			</article>
			{% if page.comments %}
			<div id="disqus_thread"></div>
			<script>
			(function() {
			var d = document, s = d.createElement('script');
			s.src = 'https://hkugithub.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>	
			{% endif %}
			</div>
		</main>

	{% include footer.html %}
	
	</body>

</html>


