<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="shortcut icon" type="image/png" href="/favico.png">
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Kun Huang's Matrix" />
    <link rel="apple-touch-icon" href="/favico.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% seo %}
    <link href="/assets/css/detail.css" rel="stylesheet">
    <script defer="defer" src="/assets/js/detail.js"></script>
    <style>
    html,
    body {
        background: #000;
    }
    </style>
</head>

<body>
    <div id="root">
    </div>
    <div class="MuiContainer-root MuiContainer-maxWidthMd css-xdmu94-MuiContainer-root" style="padding: 0px 10px; font-family: &quot;Microsoft YaHei&quot;, 微软雅黑; max-width: 900px; margin: 0 auto">
      {{ content }}
    </div>
</body>

</html>