---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Articles</h1>
  
  <ul class="post-list">
  {% comment %}
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  {% endcomment %}



    {% for page in site.pages %}
      {% if page.article == true and page.draft == null %}
        <li>
          <h2>
            <a class="post-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}

  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
